main {
    padding: 0 10%;
}
#_strains_ > h3, #_disp_ > h3, #_edu_ > h3 {
    margin-left: 2%;
}

#_strains_,
#_disp_,
#_edu_{
    margin: 3% 0;
}
#_strains_ > .__container__,
#_disp_ > .__container__,
#_edu_ > .__container__ {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 1fr;
    grid-gap: 3%;
    margin: 1.5% 0;
}

@media (max-width: 1000px) {
  #_strains_ > .__container__,
    #_disp_ > .__container__,
    #_edu_ > .__container__  {
        display: flex;
        flex-direction: column;

        padding: 0 20%;
  }
  /* #_main_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  } */
}

#_strains_ > .__container__ {
    grid-template-columns: repeat(3, 1fr);
}
#_disp_ > .__container__ {
    grid-template-columns: repeat(4, 1fr);
} 
#_edu_ > .__container__ {
    grid-template-columns: repeat(3, 1fr);
}