/* fill remaing space vertically with flexbox: */
/* https://codepen.io/JoshuaHolloway/pen/rNemPom */

._container_{
    overflow: hidden;
    border-radius: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    transition: 0.5s;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 1fr;
}

._container_:hover {
    -webkit-box-shadow: 17px 14px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 14px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 14px 21px 0px rgba(0,0,0,0.75);

    transform: scale(1.05);
}

._top_ {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/edu-1.png');
}

._bottom_ {
    padding: 0 5%;
}
._bottom_ > p {
    font-size: 24px;
    text-align: center;
    color: var(--text-secondary);
}

._top_, ._bottom_ {
    display: grid;
    place-items: center;
}