@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

#_footer_ {
  height: 100px;
  background: #1F2325;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > ._social-container_ {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

footer > ._social-container_ i {
  color: #E8E6E2;
}
