main {
    height: 500px;

    padding: 0 10%;
}


#_popular-strains_ {
    height: 100px;
    border: solid red 5px;

    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
._popular-strain_ {
    border: solid blue 5px;
}
