@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-primary: #1F2325;
  --color-secondary: #53762B;
  --color-tertiary: #1D2952;

  --text-primary: #E8E6E2;
  --text-secondary: #C7C3BC;
  --test-tertiary: #9D9487;
  --h1: 60px;
  --h2: 40px;
  --h3: 30px;

}

._center_ {
  display: grid;
  place-items: center;
}

h1, h2, h3, h4, h5 {
  color: #E8E6E2;
}

h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }

a {
  text-decoration: none;
  color: #C7C3BC;
}

body {
  background-color: #53762B;
}
