main {
    padding: 0 10%;
}
#_popular-strains_ > h3, #_nearby-dispensaries_ > h3 {
    margin-left: 2%;
}
#_popular-strains_ > .__container__,
#_nearby-dispensaries_ > .__container__,
#_get-educated_ > .__container__ {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 1fr;
    grid-gap: 3%;
}
#_popular-strains_ > .__container__ {
    grid-template-columns: repeat(3, 1fr);
}
#_nearby-dispensaries_ > .__container__ {
    grid-template-columns: repeat(4, 1fr);
} 
#_get-educated_ > .__container__ {
    grid-template-columns: repeat(3, 1fr);
} 