/* fill remaing space vertically with flexbox: */
/* https://codepen.io/JoshuaHolloway/pen/rNemPom */

._popular-strain_{
    height: 500px;
    /* width: 500px; */
    border: solid red 5px;
	display: flex;
    flex-direction: column;
    
    background-color: var(--color-primary);
}

._top_ {
    border: solid blue 5px;
    height: 70%;
}

._bottom_ {
    border: solid orange 5px;
    flex: 1;
}
._bottom_ > h5 {
    font-size: 2.4rem;
}

._top_, ._bottom_ {
    display: grid;
    place-items: center;
}