@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');

$background-0: black;
$background-1: palegreen;
$background-2: yellowgreen;
$background-3: hotpink;
$background-4: plum;
$background-6: paleturquoise;
$background-7: deepskyblue;
