#_hero-left_  {
    ._image-container_ {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../assets/img/pharmacy-inventory.jpg');
    }
}