@import 'config';
@import 'globals';

body {
    background-color: $color-secondary;
}

#_container_ {
  display: grid;
  grid-gap: 1px;

  /*
    Wireframe Dimensions:
    width:  1440
    height: 1697
        => Page should be (1697/1440) = 1.178472 x taller than wider
        => Since width will be 100vw, wet height to 117.8472vw
  */

  height: 117.8472vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1.2fr 100px;
  grid-template-areas: 
    "_navbar_     _navbar_"
    "_hero-left_  _hero-right_"
    "_main_       _main_"
    "_footer_     _footer_"
}
@media(max-width: 1000px) {
    #_container_ {
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 4.5fr 100px;
        grid-template-areas: 
            "_navbar_    "
            "_hero-left_ "
            "_hero-right_"
            "_main_"
            "_footer_    "
    }
    #_main_ {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

    }
}

#_nav_ {
  grid-area: _navbar_;
  background: $color-primary;
}
#_hero-left_ {
  grid-area: _hero-left_;
}
#_hero-right_ {
  grid-area: _hero-right_;
}
#_main_ {
  grid-area: _main_;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#_footer_ {
  grid-area: _footer_;
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;

}

@import 'nav';
@import 'hero-right';
@import 'hero-left';
@import 'footer';