@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background-0: black;
$background-1: palegreen;
$background-2: yellowgreen;
$background-3: hotpink;
$background-4: plum;
$background-6: paleturquoise;
$background-7: deepskyblue;

$color-primary: #1F2325;
$color-secondary: #53762B;
$color-tertiary: #1D2952;

$text-primary: #E8E6E2;
$text-secondary: #C7C3BC;
$test-tertiary: #9D9487;

$Chelsea: 'Chelsea Market', cursive;
$Roboto: 'Roboto', sans-serif;