@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    body {
     margin:0;
     padding:0;
     box-sizing: border-box;
 }
 html{
     font-size: 10px;
     font-family: "Roboto",sans-serif;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  background-color: #1f2325;
}

 a{
    text-decoration: none;
    color: #fff;
 }
 .conatinernav{
    /* border:red solid 1px; */
    font-family: "montserrat",sans-serif;
    border-radius: 10px;
    padding: .012rem;
    width: 100%;
    font-size: 14px;
    background-color: #1f2325;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
           0 10px 10px rgba(0,0,0,0.22);
 }
.navbar{
    color: #679437;
    padding: 1.55em;
}


 section{
    padding: 1.1rem ;
    background-color: #679437;
 }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
    }
    
    .heading{
        font-size: 20px;
        letter-spacing: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

 .card-wrapper{
     display: flex;
     align-items: center;
     align-content: center;
     flex-direction: column;
 }
 .card{
     /* inner card */
     width: 70rem;
     background-color: #1f2325;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 2rem 0;
     border-radius: 10px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
           0 10px 10px rgba(0,0,0,0.22);
 }
 .card .card-img{
    width: 70rem;
    height: 26rem;
    object-fit: cover;
    clip-path: polygon(4% 9%, 96% 8%, 96% 78%, 75% 78%, 75% 100%, 58% 79%, 4% 79%);
    border-radius: 10px;
 }


 .card{
     font-size: 1.5rem;
     color: #eee;
     margin: 1.5rem;
     
 }

 .job-title{
     color:#777;
     font-size: 1.5rem;
     font-weight: 300;
 }
  
 .about{
     font-size: 1.5rem;
     margin: 1.5rem 0;
     font-style: italic;
     text-align: center;
     color: #333;
 }

 .card .btn{
    display: flex;
    justify-content: center;
    padding:1rem ;
    background-color: #679437;
    border-radius:  1rem ; 
    /* changes button */
    text-transform: uppercase;
    color: #eee;
    font-size: 1.5rem;
    transition: all .5s;
    width: 10rem;
    margin-left: 27rem;
 }
 .card .btn .hover{
     transform: translateY(-2px);
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
     0 10px 10px rgba(0,0,0,0.22);
 }
 .card .btn:active{
     transform: translateY(0);
     box-shadow: none;
 }

 .social-media{
     width: 100%;
     list-style: none;
    display: flex;
    justify-content: center;
    align-items: space-between;
     padding: 1em;
     margin-top: 1.5rem;
     border-top: 1px solid rgba(0,0,0,.1) ;
 }
 .social-media i{
     font-size: 3rem;
     margin: .25em;
 }
 
 
 .fa-facebook-f{
     color:#4267B2;
     display: block;
     height: 42px;
     width: 42px;
     line-height: 42px;
     -moz-border-radius: 50%;
     border-radius: 50%; 
     background-color:#4267B2;
     color: white;
     text-align: center;
 }

 .fa-instagram{
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
    text-align: center;
}
.fa-twitter{
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background-color: #1EA1F1;;
    color: white;
    text-align: center;
}
.fa-twitter{
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background-color: #1EA1F1;;
    color: white;
    text-align: center;
}
.fa-snapchat-ghost{
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background-color: #FFFC00;
    color: white;
    text-align: center;
}
.fa-google-plus{
        display: block;
        height: 42px;
        width: 42px;
        line-height: 42px;
        -moz-border-radius: 50%;
        border-radius: 50%; 
        background-color: #d34836;
        color:white;
        text-align: center;
}
.fa-envelope{
    display: block;
    height: 42px;
     width: 42px;
     line-height: 42px;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background-color: #B92022;;
    color: white;
    text-align: center;
}
 
.profile-img{
    background-color: black;
}
/* add hover state */
/* .fa-linkedin-in:hover
.fa-github:hover
.fa-twitter:hover
.fa-envelope:hover{
   color:red;
} */
* {
    box-sizing: border-box;
  }
  /* form starts here */
  form{
     font-family: "Roboto",sans-serif;
     /* border:red 5px solid; */
     
  }

  label{
    /* border:blue 5px solid; */
    font-size: 1.5rem;
    font-weight: bold ;
  }
  input{
    /* border:gray 5px solid; */
    color:#eee;
    width:60%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #444;
  }
  textarea{
      color:#eee;
    background-color: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 17rem;
      width: 67rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      margin-top: 1rem;
  }

  select{
      background-color: #444;
      color: #777;
  }

  @media screen and (max-width:500px){
    body {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html{
        font-size: 10px;
        font-family: "Roboto",sans-serif;
    }
    
   
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     background-color: #1f2325;
   }
   
    a{
       text-decoration: none;
       color: #fff;
    }
    .conatinernav{
       /* border:red solid 1px; */
       font-family: "montserrat",sans-serif;
       border-radius: 10px;
       padding: .012rem;
       width: 100%;
       font-size: 14px;
       background-color: #1f2325;
       box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
    }
   .navbar{
       background-color: #1f2325;
       color: #679437;
       padding: 1.55em;
   }
   
   
    section{
       padding: 1.1rem ;
       background-color: #679437;
    }
       h1{
           display: flex;
           justify-content: center;
           align-items: center;
           color: #eee;
       }
       h2{
           color:#eee;
           font-size: 1.5rem;
       }
       .heading{
           font-size: 1rem;
           letter-spacing: .70rem;
           /* border: 1px solid red; */
       }
   
    .card-wrapper{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    .card{
        width: 32rem;
        background-color: #1f2325;;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
    }
    .card .card-img{
       width: 100%;
       height: 26rem;
       object-fit: cover;
       clip-path: polygon(4% 9%, 96% 8%, 96% 78%, 75% 78%, 75% 100%, 58% 79%, 4% 79%);
       border-radius: 10px;
    }
    .profile-img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius:50%;
        margin-top: -10rem;
        z-index: 999;
        border: 1rem solid #ebeef8;
    }
   
    .card{
        font-size: 1.5rem;
        color: #333;
        margin: 1.5rem;
        
    }
   
    .job-title{
        color: #777;
        font-size: 1.5rem;
        font-weight: 300;
    }
     
    .about{
        font-size: 1.5rem;
        margin: 1.5rem 0;
        font-style: italic;
        text-align: center;
        color: #eee;
    }
   
    .card .btn{
       padding:1rem 2.5rem;
       background-color: #679437;
       border-radius:  1rem ; 
       /* changes button */
       margin: 1rem 0;
       text-transform: uppercase;
       color: #eee;
       font-size: 1.4rem;
       transition: all .5s;
       margin-left: 8.25rem;
       /* border:red 4px solid; */
    }
    .card .btn .hover{
        transform: translateY(-2px);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    }
    .card .btn:active{
        transform: translateY(0);
        box-shadow: none;
    }
   
    .social-media{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.5rem;
        border-top: 1px solid rgba(0,0,0,.1) ;
        /* border:red 4px solid; */
       
    }
    .social-media i{
        font-size: 2rem;
        
    }
    
    
    .fa-linkedin-in{
        color:#2867B2;
        display: block;
        height: 42px;
        width: 42px;
        line-height: 42px;
        -moz-border-radius: 50%;
        border-radius: 50%; 
        background-color:#2867B2;
        color: white;
        text-align: center;
    }
   
    .fa-github{
       display: block;
       height: 42px;
       width: 42px;
       line-height: 42px;
       -moz-border-radius: 50%;
       border-radius: 50%; 
       background-color:#211F1F;
       color: white;
       text-align: center;
   }
   .fa-twitter{
       display: block;
       height: 42px;
       width: 42px;
       line-height: 42px;
       -moz-border-radius: 50%;
       border-radius: 50%; 
       background-color: #1EA1F1;;
       color: white;
       text-align: center;
   }
   .fa-envelope{
       display: block;
       height: 42px;
        width: 42px;
        line-height: 42px;
       -moz-border-radius: 50%;
       border-radius: 50%; 
       background-color: #B92022;;
       color: white;
       text-align: center;
   }
    
   .profile-img{
       background-color: black;
   }
   /* add hover state */
   /* .fa-linkedin-in:hover
   .fa-github:hover
   .fa-twitter:hover
   .fa-envelope:hover{
      color:red;
   } */
   form{
       align-content: center;
       margin-left: 3rem;
       justify-content: row;
       /* border:red 4px solid; */
       padding: 1%;
   }
   input{
        width: 55%;
        
   }
   label{
       color:#eee;
       justify-content: center;
       font-size: 1.25rem;
   }
   textarea{
       /* border: green solid 4px; */
       width: 88%;
   }
  }
  @media screen and (min-width:800px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: center;
       align-items: space-evenly;
        
    }
    .card{
       margin:2em; 
       transition: transform .5s;
    }
  }
